*.jpg
*.pdf
*.pyc
*.o
*.dat
*.mod
*.log
*.dvi
pyx-arrow-test.tex
pyx-arrow-test.html

/arch.mk
/cubedenstats
/cubestats
/cubevstats
/globcollate
/makerotbmaps
/TAGS
/omp_test
/phabrebin
/rotatetest
/turbstats
/cubeextras
/cubet
